.card{
    height: 400px;
    width: 200px;
    background-color: #f0f0f0;
    overflow: hidden;
    object-fit: cover;
    display:inline-block;
    margin: 1rem;

}

.card img{
        width: 200px;
        height: 200px;
}